Inspiration/Pru RSG stuff/3.0.0.0/Source/Schemas/BootstrapValidation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (x64) (http://www.altova.com) by CNikitas (RiskCare Ltd) -->
<!--W3C Schema generated by XMLSpy v2011 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ValidationReport">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="InputDataSets"/>
				<xs:element ref="Params"/>
			</xs:sequence>
			<xs:attribute name="validationAlgorithm" type="xs:string" use="required"/>
			<xs:attribute name="reportTemplate" type="xs:string" use="required"/>
			<xs:attribute name="reportName" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="required"/>
            <xs:attribute name="format" type="xs:string" use="required"/>
			<xs:attribute name="effectiveDate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\d{2}/(((J|j)(A|a)(N|n))|((F|f)(E|e)(B|b))|((M|m)(A|a)(R|r))|((A|a)(P|p)(R|r))|((M|m)(A|a)(Y|y))|((J|j)(U|u)(N|n))|((J|j)(U|u)(L|l))|((A|a)(U|u)(G|g))|((S|s)(E|e)(P|p))|((O|o)(C|c)(T|t))|((N|n)(O|o)(V|v))|((D|d)(E|e)(C|c)))/\d{4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="fromDate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\d{2}/(((J|j)(A|a)(N|n))|((F|f)(E|e)(B|b))|((M|m)(A|a)(R|r))|((A|a)(P|p)(R|r))|((M|m)(A|a)(Y|y))|((J|j)(U|u)(N|n))|((J|j)(U|u)(L|l))|((A|a)(U|u)(G|g))|((S|s)(E|e)(P|p))|((O|o)(C|c)(T|t))|((N|n)(O|o)(V|v))|((D|d)(E|e)(C|c)))/\d{4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="toDate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\d{2}/(((J|j)(A|a)(N|n))|((F|f)(E|e)(B|b))|((M|m)(A|a)(R|r))|((A|a)(P|p)(R|r))|((M|m)(A|a)(Y|y))|((J|j)(U|u)(N|n))|((J|j)(U|u)(L|l))|((A|a)(U|u)(G|g))|((S|s)(E|e)(P|p))|((O|o)(C|c)(T|t))|((N|n)(O|o)(V|v))|((D|d)(E|e)(C|c)))/\d{4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="frequency" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{0,3}((M|m)|(D|d)|(W|w))"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="validationResultsPath" type="xs:string"/>
			<xs:attribute name="multiDateReports" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="((T|t)(R|r)(U|u)(E|e))|((F|f)(A|a)(L|l)(S|s)(e|e))|((Y|y)(E|e)(S|s))|((N|n)(O|o))|(Y|y)|(N|n)"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Property">
		<xs:complexType mixed="true">
                    <xs:attribute name="name" use="required"/>
                    <xs:attribute name="type" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Params">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Property" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InputDataSets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataSet" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataSeries" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataSeries">
		<xs:complexType>
			<xs:attribute name="name" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BootstrapValidation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ValidationReport" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
